* {
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
    font-size: 2.3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    margin: auto 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ff7a00
}

@media only screen and (max-width : 900px) {


    .title {
        font-size: 2em;
    }

    
}