* {
    font-family: 'Montserrat', sans-serif;
}

/*
                        NAVBAR
    --------------------------------------------------------------------------------------------
*/

nav {
    background-color: #24292f;
    color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content: space-around;
}

.nav-title {
    display: flex;
    width: 35%;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

.nav-title img {
    width: 50px;
}

.nav-title h1 {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
    font-size: 2em;
    text-align: center;
    font-weight: 500;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

nav ul li {
    display: inline-block;
}

.hover-transform {
    text-decoration: none;
    color: #cfcfcf;
    text-transform: uppercase;
    position: relative;
    font-size: 1.2em;
}

.navlink-active {
    color: #ffffff;
    font-style: italic;
}

.hover-transform::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ff7a00;
    border-radius: 100px;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.hover-transform:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/*
                                HOME
    ------------------------------------------------------------------------------
*/

.home, .character-details {
    margin: 50px 0;
}

.title {
    text-align: center;
    font-size: 2.3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    margin: auto 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ff7a00
}

.home-characters {
    margin: 30px;
    padding: auto;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 50px;

    /*
    margin: 30px;
    padding: 0;
    padding-bottom: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    */
}

.card-characters {
    /*
    margin-right: 30px;
    */
    border-radius: 7px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(204,202,204,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(204,202,204,1);
    box-shadow: 0px 0px 10px 0px rgba(204,202,204,1);
    text-decoration: none;
    color: #283747;
}

.card-characters:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.84); 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.84);
    font-weight: bold;
}

.card-characters img {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-characters h4 {
    font-size: 1.3em;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    margin: 20px;
}

/*
                        CHARACTERS DETAILS
    ----------------------------------------------------------------------------
*/

.select-character {
    width: 50%;
    margin: 50px auto;
    padding: 0 40px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-character label {
    width: 50%;
    margin-right: 20px;
    text-align: end;
}

.select-character-form {
    padding: 7px;
    font-size: .8em;
    width: 40%;
}

.select-character div {
    margin-bottom: 30px;
}

.card-character-selected {
    display: flex;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.84); 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.84);
}

.character-selected-img {
    width: 700px;
    
}

.character-selected-img img {
    width: 100%;
    border-radius: 6px;
}

.character-selected-body {
    width: 100%;
    padding-left: 20px;
    font-size: 1em;
    font-weight: 300;
}

.character-selected-body h4 {
    text-align: center;
    font-size: 1.7em;
    font-style: italic;
    font-weight: 500;
    margin: 0 auto 30px auto;
    padding-bottom: 5px;
    border-bottom: 2px solid #24292f
}

.character-selected-body table tr {
    margin: 10px auto;
}

.character-selected-body table tr td {
    padding-bottom: 10px;
}

.element {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-decoration: 1px #283747 underline;
    font-style: italic;
}

.element-ul li {
    list-style-type: "→ ";
}

.content {
    font-weight: 400;
    padding-left: 15px;
    padding-bottom: 0;
}

.phrase {
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
}

.context-phrase {
    font-size: .8em;
    font-weight: 500;
    text-align: end;
}

/* 
                        FOOTER
    ---------------------------------------------------------------------------
*/

.about {
    color: #24292f;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
    line-height: 30px;
    font-size: 1em;
    text-align: justify;
}

.about h4 {
    font-size: 1.4em;
    font-weight: 500;
    border-bottom: 1px solid #ff7a00;
    margin-top: 50px;
}

.about div {
    width: 50%;
    padding: 0 2em;
}

.link-about {
    text-decoration: none;
    color: #ff993a;
    font-style: italic;
    font-weight: 500;
}

.bold {
    font-weight: 600;
    font-style: italic;
    color: #283747;
    text-decoration: none;
}


@media only screen and (max-width : 900px) {

    nav {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .nav-title{
        width: 100%;
        padding: 0;
    }

    .nav-title h1 {
        margin: auto;
        font-size: 2em;
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        font-size: .8em;
    }

    nav ul li {
        margin-top: 20px;
    }

    .title {
        font-size: 2em;
    }

    .home-characters {
        margin: 30px;
        padding: auto;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 50px;
    
    }

    .select-character {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .select-character label {
        margin: 0;
        text-align: center;
        width: 80%;
    }
    
    .select-character-form {
        margin-top: 20px;
        padding: 7px;
        font-size: .8em;
        width: 80%;
    }

    .card-character-selected {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;
    }
    
    .character-selected-img {
        width: 100%;
        
    }
    
    .character-selected-body {
        width: 100%;
        padding: 0;
        font-size: 1em;
        font-weight: 300;
    }

    .character-selected-body blockquote {
        margin: 20px 0 0 0;
    }

    .context-phrase {
        margin-bottom: 0;
    }

    .phrase {
        line-height: 20px;
        text-align: center;
    }

    .about {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 20px;
        line-height: 30px;
        font-size: 1em;
    }
    
    .about h4 {
        font-size: 1.2em;
        font-weight: 600;
    }
    
    .about div {
        width: 100%;
        padding: 0;
    }
}